name: Build & Release ESP32 Firmware

on:
  push:
    tags:
      - 'v*.*.*'        # v1.0.0, v1.1.0, etc.

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup ESP-IDF
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v4.4.4
          target: esp32
          path: .

      - name: Build firmware
        run: |
          idf.py set-target esp32
          idf.py build

      - name: Create GitHub Release and upload firmware
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/ESP32_AD_OTA.bin    # <- same as your project() name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
